mat-grid-list.mat-grid-list {
    width: 1080px;
    margin: auto;
}
mat-grid-tile.mat-grid-tile {
    background: #fff;
    padding -webkit-margin-top-collapse: 0;
    width: calc(((20% - 7.5px) * 1) + 0px) !important;
    padding-top: calc(((15% - 7.5px) * 1) + 0px) !important;

}
mat-card {
    padding: 50px;
    background: #ccc;
}
mat-card.mat-card.card-custom-width {
    padding: 50px 25px;
    margin-left: 3px;
    background: #ddd;
}
mat-card-content.mat-card-content.card-custom-content {
    font-size: 20px;
}
.deposite-blood {
    width: 1080px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
